@font-face {
    font-family: 'decimamonoprolt';
    src: url('../fonts/decimamonoprolt-webfont.woff2') format('woff2'),
         url('../fonts/decimamonoprolt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700)