/* Font Variables */

$header-font: 'decimamonoprolt', 'Inconsolata', 'Menlo', monospace;
$body-font: 'inconsolata', 'Menlo', monospace;


/* Colors */

$background-black: rgba(0,0,0,0.7);
$black: #000;
$black-header: #2A2A2A;
$black-body: #7E7D7D;

$light-grey: #EDEDED;

$white: #fff;

/* Animations */
$default-animation: all 0.4s ease-in-out;
$linear-animation: all 0.4s linear;
